.hamburgers_img,.beverage_img,.Snacks_img,.desserts_img{
	width: 150px;
}
.col-md-3 a:hover{
	text-decoration: none;
	color: #aa0000;
	
}
.col-md-3 a img:hover{
	animation:jello-horizontal .9s both;
}
@keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}
.col-md-3 a{
	text-decoration: none;
	color: var(--bs-body-color);
	font-family: 'douying';
}
@keyframes scale-up-top{0%{transform:scale(.5);transform-origin:50% 0}100%{transform:scale(1);transform-origin:50% 0}}
#beverage-container,#hamburgers-container,#Snacks-container,#desserts-container{
	animation:scale-up-top .4s cubic-bezier(.39,.575,.565,1.000) both
}